.detailed-items{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0px auto;
}
a{
    text-decoration: none;
}
.information-product{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.img-products{
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid rgba(255,255,255,0.4);
    margin: auto 0px
}

.img-products img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 80%;
    height: auto;
}
.modal-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-left: 45px;
}
.modal-img img{
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    max-width: none;
    max-height: none;
    height: auto;
    transition: 1s;
}
.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg {
    width: 40%;
    height: 80%;
    border-radius: 16px;
    transition: 1s;
}
.modal-img img:hover {
  opacity: 0.7;
}
.body-product{
    grid-column: 6/13;  
}
.body-product section:nth-child(2) ul li{
    white-space: nowrap;
}
#dashbord-svg:hover{
    transition: transform 0.3s;
    transform: translateY(-5px);

}
.body-product section{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.brand{
    width:90%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
li::marker{
    color: var(--bs-danger);
    opacity: 0.8;
}
.inform{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.body-product section:nth-child(3){
    display: flex;
    flex-direction: column;
}
.button-price {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: end;
}
.button-price .btn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.button-price .btn:hover{
    transition: transform 0.3s;
    transform: translateY(-5px);
}
.btn1{
    width: 204px;
    grid-column: 1/6;
}
.btn2{
    width: 204px;
    grid-column: 6/12;
}
.button-price .btn span{
    white-space:nowrap;
}
.description-similar{
    width: 100%;
}
.description-similar section:nth-child(1) div a:nth-child(1){
    background-color: inherit;
    text-decoration: none;
    border: 0;
    text-align: center;
    border-bottom: 2px solid var(--bs-danger);
}
.description-similar section:nth-child(1) div a:nth-child(1):hover{
    transition: 0.5s;
    color: white;
    background-color: var(--bs-danger);
}
.description-similar section:nth-child(1) div a:nth-child(2){
    background-color: inherit;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-bottom: 2px solid var(--bs-danger);
    border-right: 2px solid var(--bs-danger);
}
.description-similar section:nth-child(1) div a:nth-child(2):hover{
    transition: 0.5s;
    color: white;
    background-color: var(--bs-danger);
}
.p-desceriptions{
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.8px;
    padding: 16px 20px;
}
.similar-products{
    background-color: var(--bs-white);

}
.list-similar-product{
    width: 70vw;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
} 
.list-similar-product li{
    flex-grow: 1;
    flex-basis: 200;
}
.product-similar{
    width: 14vw;
}
.product-similar:hover{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
/* media............................................................................................................ */

@media screen and (max-width:910px){
    .detailed-items{
        width: 95%;
    }
    .img-products img[alt="product"]{
        margin-top: 2rem;
        width: 90%;
        height: 50vh;
    }
    .modal-img{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        margin-left: 40px;
    }
    .__react_modal_image__modal_content img{
        width: 60%;
        height: auto;
    }
    .btn1{
        grid-column: 1/8;
    }
    .btn2{
        grid-column: 8/13;
    }
}
/* media................................................................................................... */
@media screen and (max-width:710px) {
    .detailed-items{
        width: 95%;
    }
    .modal-img{
        margin-left: 10px;
    }
    .button-price{
        gap: 10px;
        margin: 0px auto;
    }
    .btn1{
        grid-column: 1/13;
    }
    .btn2{
        grid-column: 1/13;
    }

}
@media screen and (max-width:576px) {
    .detailed-items{
        width: 80%;
    }
    .information-product{
        padding: 10px 20px;
    }
    .img-products{
        grid-column: 1/13;
    }
    .modal-img{
        margin-left: 28px;
    }
    .body-product{
        grid-column: 1/13;
    }
    .__react_modal_image__modal_content img{
        width: 80%;
    }
    .button-price{
        display: flex;
        flex-direction: column;
    }
    .p-desceriptions{
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0px;
        padding: 16px 20px;
    }
}
/* media........................................................................ */
@media screen and (max-width:375px) {
    
}