.detailed-items{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0px auto;
}
.address{
    font-size: 14px;
}
.items .information-product{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.img-products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-left: 1px solid rgba(255,255,255,0.4);
}
.img-products img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.modal-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
}
.modal-img img{
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    transition: 1s;
}
.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg {
    width: 40%;
    height: 80%;
    border-radius: 16px;
    transition: 1s;
}
.modal-img img:hover {
  opacity: 0.7;
}
.body-product{
    width: 60%;
    
}
#dashbord-svg:hover{
    transition: transform 0.3s;
    transform: translateY(-5px);

}
.body-product section:not(:nth-child(1)){
    width:90%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.brand{
    width:90%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
li::marker{
    color: var(--bs-danger);
    opacity: 0.8;
}
.inform{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.button-price .btn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.button-price .btn:hover{
    transition: transform 0.3s;
    transform: translateY(-5px);
   

}
.description{
    width: 100%;
    background-color: blue;

}
.similar-products{
    background-color: brown;

}