@font-face {
  font-family: sans;
  src: local("sans"), url("../fonts/Sans a4fran3.ttf") format("truetype"),
  url("../fonts/Sans a4fran3.woff") format("woff"),
  url("../fonts/Sans a4fran3.eot") format("eot");
}
body {
  margin: 0;
  font-family:sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
