.form-page{
  margin: 20px auto;
   width: 50%;
}
.header-form{
  width:100%;
}
.header-form button{
  letter-spacing: 0.2mm;
  color: #dc3545;
  font-size: 20px;
  background-color: var(--bs-light);
  border: 0;
  box-shadow: rgba(142, 3, 3, 0.24) 0px 6px 8px;
  transition:background-color 0.6s;
}
.header-form button:hover{
  font-weight: 700;
  fill: #f8f9fa;
  background-color: #dc3545;
  color:#f8f9fa;
}
.header-form button:nth-child(1){
  border-top-right-radius: 0.6rem;
}
.header-form button:nth-child(2){
  border-top-left-radius: 0.6rem;
}
.form-content{
  border-bottom: 0.6rem;
}
button[type='submit']{
  border: 0;
  font-size: 18px;
  background-color: #dc3545;
  color: #f8f9fa;
  border-radius: 0.6rem;
  width: 60%;
  transition:background-color 0.6s;
}
button[type='submit']:hover{
  border: 0;
  background-color: #861313;
  color: #f8f9fa;
  width: 60%;
}